[Desktop Entry]
Name=Yukon
GenericName=Yukon
Comment=Yukon demonstration of libMini terrain library
Exec=Yukon %f
Icon=Yukon
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Geology;3DGraphics;
