[Desktop Entry]
Type=Application
Exec=ping
Icon=/usr/share/pingpong/ping.png
Terminal=false
Name=Ping
GenericName=Ping Transmission Client
Comment=Transfers data to the Pong transmission server
Categories=Application;Client;
