[Desktop Entry]
Type=Application
Exec=pong
Icon=/usr/share/pong/pong.png
Terminal=false
Name=Pong
GenericName=Pong Server
Comment=Receives data from the Ping transmission client
Categories=Application;Server;
