[Desktop Entry]
Name=Stuttgart
GenericName=Stuttgart
Comment=Stuttgart demonstration of libMini terrain library
Exec=Stuttgart %f
Icon=Stuttgart
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Geology;3DGraphics;
